# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
#  Virtual environments
.venv/
tsr_env/
env/

# Data
data/raw/
data/processed/
data/splits/

# Experiments
experiments/*
!experiments/README.md

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
