# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Virtual Environments
# =====================
.env
.venv/
venv/
env/
tsr_env/

# =====================
# Data (never commit)
# =====================
data/
datasets/

# =====================
# Model Outputs / Runs
# =====================
runs/
outputs/
weights/
logs/

# model files
*.pt
*.pth
*.onnx
*.engine
*.tflite
*.h5

# =====================
# Experiments
# =====================
experiments/*
!experiments/README.md

# =====================
# Videos / Media
# =====================
*.mp4
*.avi
*.mov

# =====================
# Archives
# =====================
*.zip
*.tar
*.tar.gz

# =====================
# Notebooks
# =====================
.ipynb_checkpoints/

# =====================
# Testing / Coverage
# =====================
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# IDE
# =====================
.vscode/
.idea/
